.hidden{
display: none;

}
.hidden1{
    display: none;

}
#form{
    padding: 20px;
    background-color: #ffffff;
    max-width: 320px;
    margin: auto;
    position: relative;
}
#secondform{
    padding: 20px;
    background-color: #ffffff;
    max-width: 320px;
    margin: auto;
    position: relative;
}